<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <h1 class="display-3">You Are Logged In successfully.</h1>

    <form action="/submit" method="POST">
      <button type="submit" class="btn btn-dark">logout</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
